<div class="bg-slate-800 p-20 justify-center flex flex-col-reverse md:flex-row ">
    <img src="{{site.url}}/{{site.baseurl}}/images/pekara_logo_2.png" alt="" class="w-20">
    <div class="max-w-lg">
        <div class="text-white"> Cenimo vase misljenje</div>
        <div class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi cumque harum,
            alias quam omnis deserunt quidem labore recusandae quo blanditiis. Blanditiis nulla odit quo! Omnis
            dolorum eveniet ex sint.</div>
        <div class="flex">
            <img src="{{site.url}}/{{site.baseurl}}/images/icon _email_.png" alt="">
            <div class="text-white"> orlandusdoo@gmail.com</div>
        </div>
    </div>
</div>
<!--Footer-->
<div class="bg-slate-900 px-20 py-4 flex justify-between items-center">
    <div class="text-white">&#169; 2023 Orlandus.All Rights reserved</div>
    <div class="text-white flex">
        <div class="mr-10">Private policy</div>
        <div>Terms &#38; conditions</div>
    </div>
</div>