<div class=" relative bg-no-repeat bg-cover  lg:bg-center
  bg-right-top " style="background-image: url('{{site.url}}/{{site.baseurl}}/images/bakery_header.png');">
    <!--Burger menu-->
    <div class="flex md:hidden flex-col  bg-gray-200 bg-opacity-80" id="burger">
        <div class="flex justify-between items-center">
            <img src="{{site.url}}/{{site.baseurl}}/images/pekara_logo_2.png" alt="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-10 h-10 mr-5 border-black border-2 rounded-md">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>

        <div class="hidden" id="menu">
            <div><a href="index.html" class="text-black border-r-2 flex justify-center">Naslovna</a></div>
            <div><a href="onama.html" class="text-black flex justify-center">O nama</a></div>
            <div><a href="#" class="text-black flex justify-center">Proizvodi</a></div>
            <div><a href="#" class="text-black flex justify-center">Kontakt</a></div>
        </div>


    </div>



    <!--Navbar-->
    <div class="hidden md:block w-full p-4  bg-gray-200 bg-opacity-80">
        <div class="flex lg:w-1/2 flex-1 items-center justify-between mx-auto ">
            <div><a href="index.html" class="text-black ">Naslovna</a></div>
            <div><a href="onama.html" class="text-black">O nama</a></div>
            <img src="{{site.url}}/{{site.baseurl}}/images/pekara_logo_2.png" alt="">
            <div><a href="#" class="text-black">Proizvodi</a></div>
            <div><a href="#" class="text-black">Kontakt</a></div>
        </div>
    </div>


    <div class="bg-orange-300 justify-center px-2 hidden md:flex">
        <p class="text-center">Kisačka 19b, ponedeljak-subota od 6 do 20h, nedeljom od 6 do 12h</p>
    </div>
    <!--HERO-->
    <div class="flex justify-center py-44">
        <div class="flex-col">
            <div class="text-center font-imperialCursive text- text-orange-300 text-5xl">Svezina i ukus</div>
            <div class="text-center font-abrilFatface text-2xl text-white text-5xl">U SVAKOM ZALOGAJU!</div>
            <div class="mx-auto w-52 p-2 rounded-sm justify-center bg-orange-500 text-center mt-4 text-xs text-white ">
                Nasi proizvodi</div>
        </div>
    </div>

</div>