<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>

  {{ content }}
  {% include footer.html %}
  <script>

console.log('conected');
    const menu = document.getElementById('menu')

    const burger = document.getElementById('burger').addEventListener('click', () => {

        console.log('Clicked');
        if (menu.classList.contains('hidden')) {
            menu.classList.remove('hidden');
        } else {
            menu.classList.add('hidden');
        }
    })

</script>
</body>

</html>